{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "semicolons": false,
  "vueIndentScriptAndStyle": true,
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "strict"
}